core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.jso
.venv/
.ipynb_checkpoints/
.DS_Store
*.ipynb
.env
data/processed/*
artifacts/*
versions/*
 .
