core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.jso
.venv/
.ipynb_checkpoints/
.DS_Store
*.ipynb
!jupyter_notebooks/01_data_collection.ipynb
!jupyter_notebooks/02_clean_and_target.ipynb
!jupyter_notebooks/03_train_tune_export.ipynb
.env
data/processed/*
artifacts/*
versions/*
 .
